---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/react/navbar/Navbar';
import ContentContainer from '../components/ContentContainer.astro';
import ItemBlock from '../components/ItemBlock.astro';
import Button from '../components/Button.astro';
---
<Layout title="Mid-South Web Designs & Development | A Marketing Service">
	<Navbar client:load/>
	<section id="hero" class="h-screen">
		<ContentContainer>
			<div class="col-span-4 sm:col-span-6 space-y-6 self-center">
				<h1 class="text-2xl xl:text-4xl font-bold">We Make The Best Websites For Your Small Business</h1>
				<p class="leading-loose">With our 2 - 4 week turnaround time, we can get you on the ground rolling fast. Our expertise specialize in providing websites without all of the fluff. Completely hand coded to provide you and your customers with the ultimate user experience.</p>
				<Button link="/contact" main={true}>Get In Touch</Button> 
			</div>
			<div class="col-span-4 sm:col-span-2 xl:col-span-6 hidden xl:block">
				<img src="/main/mock-up-replace.png" alt="" class="w-ful h-full object-contain">
			</div>
		</ContentContainer>
	</section>
	<section id="who-we-are">
		<ContentContainer>
			<div class="col-span-4 xl:col-span-6 space-y-6">
				<h2 class="font-bold text-xl">Who I Am</h2>
				<p class=" leading-relaxed">Based in Memphis, Tn we come with years of development and design experience to help your business establish web visibility. Our services are meant to provide you with complete ease as we handle design, maintenance, and updates. Think of us as part of your team completely dedicated to managing and monitoring your website.</p>
				<Button link="/about-us" main={false} >Learn More</Button> 
			</div>
		</ContentContainer>
	</section>
	<section id="why-invest-in-a-mid-south-web-designs-site">
		<ContentContainer>
			<div class="col-span-4 xl:col-span-6">
				<img src="/main/book.png" alt="" class="w-full h-96 object-contain">
			</div>
			<div class="col-span-4 xl:col-span-6 space-y-6">
				<h2 class="font-bold text-xl">Why Invest In A Website Now</h2>
				<p>Your website is the central piece to all of your marketing and related content around your business. From landing pages linked to facebook ads and project galleries to showcase previous client work. A great website is needed to help customers move and navigate through the landscape.</p>
				<p>Our goal with you, is to provide you with a solution that completely guides your customers through that experience. By starting with the basics, we are able to design and optimize elements just how we want. This level of control can only come with 100% custom code, not squarespace, not wix or any other page builder out there.</p>
				<Button link="/blog/why-invest-in-a-website-now" main={false} >Read More</Button> 
			</div>
		</ContentContainer>
	</section>
	<section id="what-we-do-at-mid-south-web-designs">
		<ContentContainer>
			<div class="col-span-full space-y-20">
				<h2 class="font-bold text-xl xl:text-2xl text-center">Things Mid South Web Designs Do</h2>
				<div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-4 sm:gap-x-8">
					<ItemBlock 
						imgUrl="icons/website-speed-optimization.svg"
						imgAlt='Mid South Web Designs Speed Optimized Icon'
						name='Speed Optimized'
						desc='Your site will be developed with speed optimization in mind and performance in mind. No site should be slow for its users losing out on customers.'
					/>
					<ItemBlock 
						imgUrl="icons/conversion-optimized-website.svg"
						imgAlt='Mid South Web Designs Conversion Optimized Icon'
						name='Conversion Optimized'
						desc='I know the little tricks that can push people to convert from a visitor to a customer. I help make your site pay for itself.'
					/>
					<ItemBlock 
						imgUrl="icons/responsive-web-design.svg"
						imgAlt='Mid South Web Designs Mobile Optimized Icon'
						name='Mobile Optimized'
						desc='52% of people are viewing websites on a phone. I know its more than just important so its standard that every page is responsive.'
					/>
					<ItemBlock 
						imgUrl="icons/seo-optimized-web-design.svg"
						imgAlt='Mid South Web Designs SEO Optimized Icon'
						name='SEO Optimized'
						desc='SEO is the next important step after launching your website. Your site will follow the best SEO practices to begin its ranking.'
					/>
					<ItemBlock 
						imgUrl="icons/006-website-design.svg"
						imgAlt='Mid South Web Designs Branded For You Icon'
						name='Branded For You'
						desc='All of our sites are 100% hand coded to perfectly agiln with your brand image. This gives you the best advantage over any other competitor using cookie cutter themes.'
					/>
					<ItemBlock 
						imgUrl="icons/customizable-websites.svg"
						imgAlt='Mid South Web Designs Site Reporting Icon'
						name='Site Reporting'
						desc='Each month see how your site is doing. Down to the traffic and engagement, we will provide you with monthly reports of your websites. So you can see what is working and what to improve.'
					/>
				</div>
			</div>
		</ContentContainer>
	</section>
	<section>
		<ContentContainer>
			<h2 class="font-bold text-2xl xl:text-3xl text-center col-span-full mb-16">Full Scale Services - Simple Pricing</h2>
			<div class="col-span-4 xl:col-start-3 mb-4">
				<h3 class="font-bold text-xl text-center bg-blue-200 p-4 rounded-t-xl">Web Design & Maintenance</h3>
				<ul class="p-8 border border-blue-200 border-b-0 space-y-4">
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">*5 Page Business Site</li>
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">Optimized On Page SEO</li>
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">Google Analytics</li>
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">Unlimited Update Requests</li>
				</ul>
				<p class="font-bold italic text-2xl text-center bg-blue-200 px-4 py-8 rounded-b-xl">$150/mo</p>
			</div>
			<div class="col-span-4 mb-8">
				<h3 class="font-bold text-xl text-center bg-blue-200 p-4 rounded-t-xl">Off Site SEO & Blogging</h3>
				<ul class="p-8 border border-blue-200 border-b-0 space-y-4">
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">Includes Main Service</li>
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">High Quality Content Creation</li>
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">Keyword Research & Tracking</li>
					<li class="flex items-center"><img src="/icons/success.png" alt="checkmark" class="mr-6">Link Building Outreach</li>
				</ul>
				<p class="font-bold italic text-2xl text-center bg-blue-200 px-4 py-8 rounded-b-xl">$150/mo + SEO Budget</p>
			</div>
			<p class="col-span-full italic font-light xl:col-start-3">* Each additional page will include a one time $150 setup fee.</p>
		</ContentContainer>
	</section>
</Layout>
<style>
	#hero {
		background: rgb(0,33,85);
		background: linear-gradient(180deg, rgba(0,33,85,1) 0%, rgba(29,5,12,1) 100%, rgba(0,0,0,0) 100%);
	}
	h1, #hero p {
		color: white;
	}
	#what-we-do-at-mid-south-web-designs {
		background-image: url('/backgrounds/daimond-squares.jpg');
		background-size: contain;
	}
</style>
