{/* Grid component: default 4 cols, tablet 8 cols, laptop and higher 12 cols. Gaps between cols are 16px. Max width 1280px. Padding 64px top/bottom 16px left/right. */}
<div class="container max-w-7xl py-16 px-4 grid grid-cols-4 sm:grid-cols-8 xl:grid-cols-12 gap-x-4 mx-auto h-full">
    <slot />
</div>