---
import ContentContainer from "./ContentContainer.astro";

---

<footer class="bg-[#002147] text-white">
    <ContentContainer>
        <div class="col-span-4 flex flex-col space-y-4">
            <img src="/main/mswd-white-logo.svg" alt="Mid South Web Designs and Development logo" class="w-1/2">
            <a href="tel:16628501532" class="text-lg">1 (662) 850-1532</a>
            <a href="mailto:contact@midsouthwebdesigns.com"  class="text-lg">contact@midsouthwebdesigns.com</a>
        </div>
        <div class="col-span-4">
            <h2 class="font-bold text-lg">Navigation</h2>
            <ul>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/contact-us">Blog</a></li>
            </ul>
        </div>
        <div class="col-span-4">
            <h2 class="font-bold text-lg">Services</h2>
            <ul>
                <li><a href="/web-design">Web Design And Development</a></li>
                <li><a href="/seo">Seo Services</a></li>
                <li><a href="/content-creation">Content Creation</a></li>
            </ul>
        </div>
        <p class="col-span-full text-center font-thin mt-16">Made By Mid South Web Designs & Development | Copyright © 2023 | All Rights Reserved</p>
    </ContentContainer>
</footer>